name: build
on:
  - pull_request
  - push
jobs:
  eval:
    runs-on: windows-latest
    steps:
      - name: Fetch sources
        uses: actions/checkout@v2
      - name: Set up Haxe
        uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.1.4
      - name: Check environment
        run: haxe --version
      - name: Install dependencies
        run: |
          haxelib install all --always
          haxelib set tink_core 1.27.1 --always
      - name: Run tests
        run: haxe test_eval.hxml
  hl:
    runs-on: windows-latest
    steps:
      - name: Fetch sources
        uses: actions/checkout@v2
      - name: Set up Haxe
        uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.1.4
      - name: Set up HashLink
        run: |
          Invoke-WebRequest https://github.com/HaxeFoundation/hashlink/releases/download/1.11/hl-1.11.0-win.zip -OutFile var/hashlink.zip
          Expand-Archive var/hashlink.zip var/hashlink
          Add-Content $Env:GITHUB_PATH (Resolve-Path var/hashlink/hl-1.11.0-win) -NoNewline
      - name: Check environment
        run: hl --version
      - name: Install dependencies
        run: |
          haxelib install all --always
          haxelib set tink_core 1.27.1 --always
      - name: Run tests
        run: haxe test_hl.hxml
  js:
    runs-on: windows-latest
    steps:
      - name: Fetch sources
        uses: actions/checkout@v2
      - name: Set up Haxe
        uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.1.4
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14
      - name: Check environment
        run: node --version
      - name: Install dependencies
        run: |
          haxelib install all --always
          haxelib set tink_core 1.27.1 --always
          npm install
      - name: Run tests
        run: haxe test_js.hxml
      - name: Collect code coverage
        env:
          COVERALLS_REPO_TOKEN: ${{secrets.GITHUB_TOKEN}}
        if: success()
        run: npm run coverage
  php:
    runs-on: windows-latest
    steps:
      - name: Fetch sources
        uses: actions/checkout@v2
      - name: Set up Haxe
        uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.1.4
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
          coverage: xdebug
          extensions: mbstring, simplexml
      - name: Check environment
        run: php --version
      - name: Install dependencies
        run: |
          haxelib install all --always
          haxelib set tink_core 1.27.1 --always
          composer global require cedx/coveralls
          composer install --no-interaction
      - name: Run tests
        run: haxe test_php.hxml
      - name: Collect code coverage
        env:
          COVERALLS_REPO_TOKEN: ${{secrets.GITHUB_TOKEN}}
        if: success()
        run: composer run coverage
